<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>How are you?</title>
</head>

<body style="background-color: #C4D7F7">

	<header class="w3-container">
		<h1 class="name", style="font-family: domine; font-size: 108; text-align: center; color: #47525E; vertical-align: middle;">Hello, apa kabar?</h1>
	</header>

<form method="POST" style="text-align: center;">
	{% csrf_token %}
  	{{form}}
  	<div style="text-align: center;">
  		<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
</form>

<table style="text-align: center;">
	<tr>
		<th style="width: 50%; text-align: center;">Waktu</th>
		<th style="width: 50%; text-align: center;">Status</th>
	</tr>
	{% for status in status_list %}
	<tr>
		<td style="width: 50%; text-align: center;">{{status.date}}</td>
		<td style="width: 50%; text-align: center;">{{status.status}}</td>
	</tr>
	{% endfor %}
</table>
</body>
